*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $lora;
	font-size: $base-font-size;
	font-weight: 400;
	font-style: normal;
	line-height: $base-line-height;
	color: $text;
	background: $white;
}

/**
 * Selection Color.
 */
::selection {
	color: $selection-font-color;
	background: $selection-bg-color;
	text-shadow: none;
}

::-moz-selection {
	color: $selection-font-color;
	background: $selection-bg-color;
	text-shadow: none;
}
